<h2>Projects</h2>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Client</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.name, project %></td>
    <td><%= project.client.name %></td>
  </tr>
<% end %>
</table>

<h2>New Project</h2>
<%= render 'form' %>

<br>
<%= link_to 'Back to Dashboard', tasks_path, class: 'btn btn-primary btn-large' %>
