<!DOCTYPE html>
<html>
<head>
  <title>RamBilling</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" />
  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />

  <script type="text/javascript">
      (function() {

        jQuery(function() {
          var projects;
          projects = $('#task_project_id').html();
          console.log(projects);
          return $('#client_dropdown_client_id').change(function() {
            var client, options;
            client = $('#client_dropdown_client_id :selected').text();
            options = $(projects).filter("optgroup[label=" + client + "]").html();
            console.log(options);
            if (options) {
              return $('#task_project_id').html(options);
            } else {
              return $('#task_project_id').empty();
            }
          });
        });

      }).call(this);
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
